AWS_SECRET_ACCESS_KEY = aws secret access key
AWS_ACCESS_KEY_ID =  aws access key id
AWS_REGION = your region, e.g. us-east-1 


AWS_SECRET_ACCESS_KEY = secret access key
AWS_ACCESS_KEY_ID =  access key id
AWS_REGION = us-east-1 
EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

NEO4J_URI=neo4j+ssc://neo4j+databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password

# NEO4J_URI=neo4j://127.0.0.1:7687
# NEO4J_USERNAME=neo4j
# NEO4J_PASSWORD=password

MONGODB_URI=mongodb+srv://username:password@cluster0.evmsk3r.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=summarization_db

# MONGODB_URI=mongodb://localhost:27017
# MONGODB_DB_NAME=summarization_db


